@model IEnumerable<IsaacLewisSite.Models.Story>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoryTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoryText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
